.DS_Store
.Rproj.user
*.Rproj
data/zippedreads/
data/go.obo
outputs/logfiles/
outputs/errorfiles/
outputs/fastcs/
outputs/trimqcs/
outputs/trimmomaticreads/
outputs/STARalign_Pdam/
outputs/phylotrans_Pdam/
bash/jobs/
.Rhistory
.RData
.RDataTmp
Rmd/*.html
core*
hs*
outputs/DESeq-results/
outputs/phylo/
programs
outputs/DESeqresults_SymC1 outputs/outputlist.txt
outputs/DESeqresults_SymC1/
data/indices/
data/reads/
data/GeoSymbio/
outputs/
data/refs/
data/genome
data/symtypes
R/GO_MWU
data/cladocopium_annotations/
data/SymbC1.Gene_Models.Annotation.csv
R/GO_MWU/
